@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Spinnaker";
  color: #333;
}
.navbar {
  padding: 0px;
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
  border-bottom: 1px solid #08c114;
}
.navbar h1 {
  color: #121db3;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  
  text-decoration: none;
  padding: 6px;
  color:#016832;
  

  /* To center a tag in space
  margin-left: 16px;
  letter-spacing: 2px;
  font-size: 1.8rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  


}
.navbar a:hover {
  color: #134ac2;
}
.content {
  max-width: 690px;
  margin: 0px auto;
  padding: 20px;  
}
img{
  display: outside;
  justify-content: center;
  align-items: center;
}
button{
  background-color: #0ee255;
  color: #121db3;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  
}
.modal{
  width: 750px;
  height: 300px;
}
.input,
input {
  width: calc(25vw);
}
h1 {
  color: #121db3;
  font-size: 250%;
}
/* css code for cute buttons 
style={{
  .button1{
  color: 'white';
  margin-left: 20px;
  backgroundColor: '#30c213';
  borderRadius: '8px';
}
  color: 'white',
  backgroundColor: '#30c213',
  borderRadius: '8px',
}}
*/

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body{
  min-height: 75rem;
  padding-top: 4.5rem;
}